@CHARSET "ISO-8859-1";

@import  "../reindeer/styles.css";

@font-face {
	font-family: "Myriad";
	src: url(font/Myriad.ttf) format("truetype");
}


.v-captiontext{
	font-weight: bold;
	font-family:"Myriad";

}

.v-app {
	background:url(img/layer.png);
	font-family:"Myriad";
	color: #464f52;
	font-size: 13px;
	line-height: 18px;
}

.containerPrincipal, #headerLayout, #footerLayer{
	background: #242424 url(img/backGroundHeader.png) repeat-x !important;
	background-position: left;
}


.headerContent{
	position:static;
	background:url(img/layer.png);
}

#footerLayer{
	padding: 20px;
	position:absolute;
	bottom:0;
	width:100%;
}

.footerStyle{
	width:300px;
}

.footerStyle.spacer{
	margin : 0 10px;
}

.loginPanel, .registrationPanel {
	box-shadow: 1px 1px 12px #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.v-panel-deco, .white .v-panel-deco {
	height: 0;
	border-top: none;
	background: #e2e2e2;
	overflow: hidden;
	display:none;
}

.v-webkit .v-panel-nocaption{
	border:none;
}

.v-caption-titleStyle{
	text-transform:uppercase;
	color: #009cda;
	font-size: 22px;
	font-weight:normal !important;
}

.v-textfield {
	background: rgba(147, 147, 147,0.2);
	border: 1px solid #b6b6b6;
	border-top-color: #9d9d9d;
	border-bottom-color: #d6d6d6;
	border-right-color: #d6d6d6;
	margin: 0;
	line-height: 14px;
}

.v-textfield-focus, .v-filterselect-input-focus {
	border : solid 1px #009cda !important;
}

.monStyleBorderNone {
                border : none !important;
				outline : none !important;
                background: rgba(255,255,255,1);
}

#logInButton .v-button-wrap,
.styleButton .v-button-wrap,
.styleButtonCateg .v-button-wrap,
.addBtn .v-button-wrap,
.delBtn .v-button-wrap,
#saveButton .v-button-wrap,
.v-select-twincol-buttons .v-button-wrap {
	padding: 4px 8px 0 0px;
	background-image:none !important;
}

.logOutButton .v-button-wrap {
	background-image:none !important;
}

.logOutButton, .logOutButton.v-button:active, .logOutButton.v-button:focus {
	background:url(img/deconnexion.png) no-repeat;
	width: 15px;
	height: 20px;
	cursor: pointer;
}

#logInButton.v-button,
.styleButton.v-button,
.addBtn.v-button,
.delBtn.v-button,
#saveButton.v-button,
.v-select-twincol-buttons .v-button {
	background-image:none;
	background-color:#009cda;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}
.styleButtonCateg.v-button{
	background-image:none;
	background-color:#0073a0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}

.v-select-twincol-buttons .v-button, .v-select-twincol-buttons{
	margin-bottom: 5px;	
}

.addBtn.v-button{
	background-color:#00c400;
}

.delBtn.v-button{
	background-color:red;
}

#saveButton.v-button{
	margin-top: 15px;
	margin-left: 110px;
}

#logInButton span.v-button-caption,
.styleButton span.v-button-caption,
.styleButtonCateg span.v-button-caption,
.addBtn span.v-button-caption,
.delBtn span.v-button-caption,
#saveButton span.v-button-caption,
.v-select-twincol-buttons span.v-button-caption{
	color : #fff !important;
	font-weight:normal;
	font-size:15px;
}

#sigIn{
	padding :10px 0 0 10px;
}

#sigIn span.v-button-caption,
#logIn span.v-button-caption{
	color:#009cda;
	text-decoration:none;
}

#sigIn span.v-button-caption:hover,
#logIn span.v-button-caption:hover{
	text-decoration:underline;
}

#sigIn span.v-button-caption:visited,
#logIn span.v-button-caption:visited{
	color:#009cda;
}

.v-caption-errorStyle{
	border: solid 1px red;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background : rgba(255, 0, 0, 0.5);
	padding:5px 57px;
}

.v-caption-errorStyle span{
	color: #B40404;

}

#settingsLayout{
	position: absolute;
	right: 136px;
	top:65px;
	color:#fff;
	font-size:15px;
	z-index:5;

}

#settingsLayout .v-button-caption{
	color:#009cda;
	font-size:15px;
	text-decoration:none;
}

#settingsLayout .v-button-caption:hover{
	text-decoration:underline;
}

#logoNovedia{
 	background:url(img/logoNovedia.jpg) no-repeat;
	width:225px;
	height:89px;
	display:none;
               
}

#logoTalentMap{
	background:url(img/logo_Talent.png) no-repeat;
	width:932px;
	height:108px;
	Margin-left:100px;
	text-indent:-9999px;
}

#logoNovedia .v-label{ 
	text-indent:-9999px;
}


.v-window-outerheader {
	background:#009cda repeat-x !important;
	border-bottom: solid 1px #009cda;
	padding-bottom:12px !important;
	height:50px !important;
}

.v-window-header {
	font-weight: normal !important;
	font-size: 22px !important;
	text-shadow: none !important;
}

.centerPanel{
	text-align:center;
	padding: 100px 25px 0 25px;
	background:url(img/layer.png);
                
}

#dashboardLabel{
   position: absolute;
   top:150px;
   left: 70px;
   z-index:5;
}

#dashboardLabel .v-label{
	font-size:25px;
	color:#242424;
	line-height:normal !important;
}

.profilLayoutResult {
	height: 70px;
	cursor: pointer;
}

.profileLayoutColleagueWindow {
	margin-bottom: 10px;
	height: 70px;
}

.resultBloc {
	height: 227px;
    width: 292px;
	background:url(img/backgroundBlockResult.png) center no-repeat;
	padding: 10px;
	background-size: 100% 100%
}

.photoResultLayout {
	width: 55px;
	height: 65px;
	border: 2px solid #808080;
	background: url(img/photoResult.png) bottom no-repeat;
	margin-bottom: 5px;
	margin-right: 5px;
}

.colleagueName {
	color: #009CDA;
	font-size: 18px;
	font-family: myriad pro;
}

.profileColleague, .lastMissionLabel {
	color: #333333;
	font-size: 12px;
	font-family: myriad pro;
    font-weight: bold;
}

.emailColleague, .colleagueExperience, .lastMissionLabelValue {
	color: #333333;
	font-size: 14px;
	font-family: myriad pro;
}



.lastMissionLayout {
	height: 129px;
	border: 1px solid #808080;
	padding: 10px;
}

.image{
	 cursor:pointer;
}

.labelBtnDashboard{
	 cursor:pointer;
}

.v-panel-labelBtnDashboard .v-verticallayout,
.iaPanel .v-gridlayout-slot .v-panel-content .v-verticallayout,
.adminPanel .v-gridlayout-slot .v-panel-content .v-verticallayout{
    margin-top:145px;
                
}


.top25{
	argin-top:25px;
}

/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
    display: inline-block;
}

.labelBtnDashboard.profilButton{
	background:url(img/profil.png) center no-repeat;
	height: 211px;
    width: 158px;
}


.labelBtnDashboard.eaeButton{
	background:url(img/eae.png) center no-repeat;
	height: 211px;
    width: 158px;
}


.labelBtnDashboard.formationButton{
	background:url(img/param.png) center no-repeat;
	height: 211px;
    width: 158px;
}

.labelBtnDashboard.searchButton{
	background:url(img/search.png) center no-repeat;
	height: 211px;
    width: 158px;
}

.labelBtnDashboard.eaeCMButton{
    background:url(img/eaeCM.png) center no-repeat;
	height: 211px;
    width: 158px;
}

.v-button-labelBtnDashboard .v-button-wrap{
	height: 0px !important;
    padding: 0px !important;
}

.labelBtnDashboard.deleteColleagueButton{
	background:url(img/gestion_collab.png) center no-repeat;
	height: 211px;
    width: 158px;
}

.labelBtnDashboard.manageToolButton{
	background:url(img/manage_tool.png) center no-repeat;
	height: 211px;
    width: 158px;
}

.table {
	text-align: center;
	margin-bottom: 25px;
    margin-top: 25px;
}

.v-accordion .table {
	text-align: center;
	margin-bottom: 0px;
    margin-top: 0px;
}

.v-table-cell-content {
	height: 25px;
	border-right: 0 none;
}


.v-table-row-odd, .v-table-row-odd {
    background: none repeat scroll 0 0 #FFFFFF;
}

.v-table-cell-content .v-ratingstars-wrapper {
	float: none;
}

.v-table-body, .v-table-header-wrap, .v-table-resizer {
	border-left-width: 0px;
	border-right-width: 0px;
}

.v-table-cell-content .v-ratingstars-star, .v-accordion .v-ratingstars-star {
	background-color: #009CDA;
}


.containerButton {
	margin-left: 200px;
    margin-top: 15px;
}
.footerLayoutMissionButton{
	margin-top:  15px;
}


.popinStyle .popupContent .v-window-contents{
	border-top:solid 1px #009cda;
}

.mystyleTitleBilanTODO {
                font-style: bold;
                font-size: 16px;
                color:#009cda;
/*                 color:#a4cc1a; */
}
.panelLeft .v-verticallayout{
	padding:0;
}

.v-panel-content {
	border-style: none;
}

.panelLeft .v-panel-content, 
.panelLeft .v-panel-captionwrap{
	border:none;
}

.panelLeft .v-button-caption {
	color: #009cda;
	font-size: 15px;
	text-decoration:none;
	line-height:25px;
	border:none;
}

.v-panel-caption span {
	color: #009cda;
	font-size: 15px;
	text-transform: uppercase;
}

.panelLeft .v-button-caption:hover,
.panelLeft .focus .v-button-caption{
	text-decoration:underline;
	font-weight:bold;
}

.panelLeft .focus .v-button-caption{
	text-transform:uppercase;
}

.v-panel-content-panelLeft {
	overflow-y:hidden;
}

.v-panel-content-panelRight {
	overflow-x:hidden;
}

.v-panel-panelRight {
	overflow-x:hidden;
	border-left: 1px solid #009CDA;
    padding-left: 10px;

}
.v-panel-nocaption{
	border-bottom: 0px ;
	border-top: none !important;
}

.panelRight .v-panel-content .v-formlayout, .missionForm {
	text-align:center;
}

.panelRight .v-caption-spacerInfo {
	left:10px !important;
}

.panelRight .spacerInfo{
	margin-left:10px;
}

.panelRight .v-caption-spacerTop {
	top:10px !important;
}

.panelRight .spacerTop{
	margin-top:10px;
}
.panelRight .spacerBottom{
	margin-bottom:10px;
}

.contentPanel .v-panel-content{
	border: none;
}
.v-panel-nocaption-contentPanel{
	border: none;
}
.v-table-header {
	font-size:13px;
	font-weight:bold;
}
.v-table .v-selected, 
.black .v-table .v-selected {
                background: #0073A0;
                color: #fff;
                text-shadow: #3b5a7a 0 1px 0;
}


.visualizeMissionHistory{
                margin-left:10px;
}


.v-ratingstars-wrapper{
                border: none !important;
}

.v-formlayout-contentcell,
.v-formlayout-captioncell, 
.v-formlayout-errorcell{
                padding: 0 !important;
}

.v-formlayout-captioncell, 
.v-formlayout-errorcell{
/*                 display:none; */
}

.monStyleGras {
				font-weight:bold;
	    		text-decoration:underline;
}


#eaeResultsFormLayout .v-accordion-item-caption .v-caption {
/* 	 background: #009cda;  */
/* 	 #a4cc1a; */
}

/* eaeObjectivesFormLayout */

.styleDeTest {
	position:static;
	margin-left:10px;
	overflow-x:hidden;
}

.marginEAEGenerality{
	margin-left:10px;
	margin-top:10px;
}
.styleMargin {
	margin-left:25px;
/* 		border-style : solid; */
/*   border-color : green; */
}

.borderRed{
	border-style : solid;
  border-color : red;
}

.borderOrange{
	border-style : solid;
  border-color : orange;
}

.borderGreen{
	border-style : solid;
  border-color : green;
}
.borderGrey{
	border-style : solid;
  border-color : grey;
}

.labelBtnBack{
	background:url(img/backBlue.png) center no-repeat;
	height: 100px;
    width: 100px;
}

.labelBtnLegendeCM.cadreGris{
	background:url(img/cadreGris.png) center no-repeat;
/* 	height: 20px; */
/*     width: 20px; */
}

.fontFamilyMyriad {
	font-family: "Myriad";
}