@CHARSET "ISO-8859-1";

@import  "../reindeer/styles.css";

.v-captiontext{
	font-weight: bold;

}

.v-app {
	background: #242424 url(common/img/main-bg.png) repeat-x !important;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 13px;
	line-height: 18px;
	
	padding:20px;
}

.loginPanel, .registrationPanel {
	box-shadow: 1px 1px 12px #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.v-panel-deco, .white .v-panel-deco {
	height: 0;
	border-top: none;
	background: #e2e2e2;
	overflow: hidden;
	display:none;
}

.v-webkit .v-panel-nocaption{
	border:none;
}

.v-caption-titleStyle{
	text-transform:uppercase;
	color: #009cda;
	font-size: 22px;
	font-weight:normal !important;
}

.v-textfield {
	background: rgba(147, 147, 147,0.2);
	border: 1px solid #b6b6b6;
	border-top-color: #9d9d9d;
	border-bottom-color: #d6d6d6;
	border-right-color: #d6d6d6;
	margin: 0;
	line-height: 14px;
}

.v-textfield-focus, .v-filterselect-input-focus {
	border : solid 1px #009cda !important;
	outline : none !important;
	background: rgba(255,255,255,1);
}

#logInButton .v-button-wrap,
#saveButton .v-button-wrap{
	padding: 4px 8px 0 0px;
	background-image:none;
}

#logInButton.v-button,
#saveButton.v-button{
	background-image:none;
	background-color:#009cda;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	cursor:pointer;
}

#saveButton.v-button{
	margin-top: 15px;
	margin-left: 110px;
}

#logInButton span.v-button-caption,
#saveButton span.v-button-caption {
	color : #fff !important;
	font-weight:normal;
	font-size:15px;
}

#sigIn{
	padding :10px 0 0 10px;
}

#sigIn span.v-button-caption,
#logIn span.v-button-caption{
	color:#009cda;
	text-decoration:none;
}

#sigIn span.v-button-caption:hover,
#logIn span.v-button-caption:hover{
	text-decoration:underline;
}

#sigIn span.v-button-caption:visited,
#logIn span.v-button-caption:visited{
	color:#009cda;
}

.v-caption-errorStyle{
	border: solid 1px red;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background : rgba(255, 0, 0, 0.5);
	padding:5px 57px;
}

.v-caption-errorStyle span{
	color: #B40404;

}

#settingsLayout{
	position: absolute;
	right: 0;
	
	color:#fff;
	font-size:15px;
}

#settingsLayout .v-button-caption{
	color:#009cda;
	font-size:15px;
	text-decoration:none;
}

#settingsLayout .v-button-caption:hover{
	text-decoration:underline;
}

#logoNovedia{
	background:url(img/logoNovedia.jpg) no-repeat;
	
	width:225px;
	height:89px;
	
}

#logoTalentMap{
	background:url(img/logoNovedia.jpg) no-repeat;
	
	width:225px;
	height:89px;
	
	margin-left:40%;
	
	text-align:center
}

#logoNovedia .v-label{	
	text-indent:-9999px;
}


.v-window-outerheader {
	background:#009cda repeat-x !important;
	border-bottom: solid 1px #009cda;
	padding-bottom:12px !important;
	height:50px !important;
}

.v-window-header {
	font-weight: normal !important;
	font-size: 22px !important;
	text-shadow: none !important;
}

.centerPanel{
	text-align:center;
	margin-top:50px;
	padding:25px;
	border: ridge 3px #009cda;
}

#dashboardLabel{
	background:url(img/home.png) 0 center no-repeat;
	background-size: 25px;
	height:35px;
	margin-left:50px;
	cursor:pointer;
}

#dashboardLabel .v-label{
	font-size:22px;
	color:#fff;
	line-height:normal !important;
	margin-top:4px;
	margin-left:35px;
}

.v-gridlayout-slot .v-panel{
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
	
	-moz-box-shadow: 0px 0px 25px 5px #888;
	-webkit-box-shadow: 0px 0px 25px 5px #888;
	box-shadow: 0px 0px 25px 5px #888;
	
	overflow:hidden;
	margin-left:20px;
	
	width:200px;
	height:200px;
}

.v-gridlayout-slot .v-panel-content{
	height:200px;
	overflow:hidden;
}

.v-panel-labelBtnDashboard {
	cursor:pointer;
}

.v-panel-content-labelBtnDashboard .v-button-caption{
	font-size:22px;
	color: #009cda;
	font-weight:bold;
	text-decoration:none;
}

.v-panel-content-labelBtnDashboard .v-button-caption:hover{
	text-decoration:underline;
}

.v-panel-labelBtnDashboard .v-verticallayout{
	text-align:center;
	top:50%;
	margin-top:-25px;
}

.top25{
	margin-top:25px;
}

/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
    display: inline-block;
}
