@CHARSET "ISO-8859-1";

@import  "../reindeer/styles.css";

@font-face {
  	font-family: "Myriad";
 	src: url(font/Myriad.ttf) format("truetype");
}


.v-captiontext{
	font-weight: bold;
	font-family:"Myriad";

}

.v-app {
	background: #fff;
	font-family:"Myriad";
	color: #464f52;
	font-size: 13px;
	line-height: 18px;
}

.containerPrincipal, #headerLayout, #footerLayer{
	background: #242424 url(img/octicons-bg.png) repeat-x !important;
}

#headerLayout{
	border-bottom : solid 3px #009cda;
}

#footerLayer{
	border-top : solid 3px #009cda;
}

.headerContent{
	position:static;
	background:#fff;
}

#footerLayer{
	padding: 20px;
	position:absolute;
	bottom:0;
	width:100%;
}

.footerStyle{
	width:300px;
}

.footerStyle.spacer{
	margin : 0 10px;
}

.loginPanel, .registrationPanel {
	box-shadow: 1px 1px 12px #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.v-panel-deco, .white .v-panel-deco {
	height: 0;
	border-top: none;
	background: #e2e2e2;
	overflow: hidden;
	display:none;
}

.v-webkit .v-panel-nocaption{
	border:none;
}

.v-caption-titleStyle{
	text-transform:uppercase;
	color: #009cda;
	font-size: 22px;
	font-weight:normal !important;
}

.v-textfield {
	background: rgba(147, 147, 147,0.2);
	border: 1px solid #b6b6b6;
	border-top-color: #9d9d9d;
	border-bottom-color: #d6d6d6;
	border-right-color: #d6d6d6;
	margin: 0;
	line-height: 14px;
}

.v-textfield-focus, .v-filterselect-input-focus {
	border : solid 1px #009cda !important;
	outline : none !important;
	background: rgba(255,255,255,1);
}

#logInButton .v-button-wrap,
.styleButton .v-button-wrap,
.addBtn .v-button-wrap,
.delBtn .v-button-wrap,
#saveButton .v-button-wrap{
	padding: 4px 8px 0 0px;
	background-image:none !important;
}

#logInButton.v-button,
.styleButton.v-button,
.addBtn.v-button,
.delBtn.v-button,
#saveButton.v-button{
	background-image:none;
	background-color:#009cda;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	cursor:pointer;
}

.addBtn.v-button{
	background-color:#00c400;
}

.delBtn.v-button{
	background-color:red;
}

#saveButton.v-button{
	margin-top: 15px;
	margin-left: 110px;
}

#logInButton span.v-button-caption,
.styleButton span.v-button-caption,
.addBtn span.v-button-caption,
.delBtn span.v-button-caption,
#saveButton span.v-button-caption {
	color : #fff !important;
	font-weight:normal;
	font-size:15px;
}

#sigIn{
	padding :10px 0 0 10px;
}

#sigIn span.v-button-caption,
#logIn span.v-button-caption{
	color:#009cda;
	text-decoration:none;
}

#sigIn span.v-button-caption:hover,
#logIn span.v-button-caption:hover{
	text-decoration:underline;
}

#sigIn span.v-button-caption:visited,
#logIn span.v-button-caption:visited{
	color:#009cda;
}

.v-caption-errorStyle{
	border: solid 1px red;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	background : rgba(255, 0, 0, 0.5);
	padding:5px 57px;
}

.v-caption-errorStyle span{
	color: #B40404;

}

#settingsLayout{
	position: absolute;
	right: 0;
	
	color:#fff;
	font-size:15px;
}

#settingsLayout .v-button-caption{
	color:#009cda;
	font-size:15px;
	text-decoration:none;
}

#settingsLayout .v-button-caption:hover{
	text-decoration:underline;
}

#logoNovedia{
	background:url(img/logoNovedia.jpg) no-repeat;
	
	width:225px;
	height:89px;
	
}

#logoTalentMap{
	background:url(img/logoNovedia.jpg) no-repeat;
	
	width:225px;
	height:89px;
	
	margin-left:40%;
	
	text-align:center
}

#logoNovedia .v-label{	
	text-indent:-9999px;
}


.v-window-outerheader {
	background:#009cda repeat-x !important;
	border-bottom: solid 1px #009cda;
	padding-bottom:12px !important;
	height:50px !important;
}

.v-window-header {
	font-weight: normal !important;
	font-size: 22px !important;
	text-shadow: none !important;
}

.centerPanel{
	text-align:center;
	padding:25px;
	background:#fff;
	
}

#dashboardLabel{
	background:url(img/home.png) 0 center no-repeat;
	background-size: 25px;
	margin-left:50px;
	margin-top:50px;
	cursor:pointer;
}

#dashboardLabel .v-label{
	font-size:40px;
	color:#fff;
	line-height:normal !important;
	margin-top:4px;
	margin-left:35px;
}

.v-gridlayout-slot .v-panel{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	/*-moz-box-shadow: 0px 0px 25px 5px #888;
	-webkit-box-shadow: 0px 0px 25px 5px #888;
	box-shadow: 0px 0px 25px 5px #888;*/
	border: solid 3px #009cda;
	
	overflow:hidden;
	margin-left:20px;
	
	width:200px;
	height:200px;
}

.v-gridlayout-slot .v-panel-content{
	height:200px;
	overflow:hidden;
}

.v-panel-labelBtnDashboard,
.v-button-labelBtnDashboard{
	cursor:pointer;
}

.v-panel-content-labelBtnDashboard .v-button-caption,
.v-button-labelBtnDashboard .v-button-caption{
	font-size:22px;
	color: #009cda;
	font-weight:bold;
	text-decoration:none;
}

.v-panel-content-labelBtnDashboard .v-button-caption:hover,
.v-button-labelBtnDashboard .v-button-caption:hover{
	text-decoration:underline;
}

.v-panel-labelBtnDashboard .v-verticallayout,
.iaPanel .v-gridlayout-slot .v-panel-content .v-verticallayout,
.adminPanel .v-gridlayout-slot .v-panel-content .v-verticallayout{
	text-align:center;
	/*top:50%;
	margin-top:-25px;*/
	margin-top:145px;
}

.top25{
	margin-top:25px;
}

/* Lay the options horizontally */
.v-select-optiongroup-horizontal .v-select-option {
    display: inline-block;
}

.labelBtnDashboard .v-panel-content{
	background:none;
}

.labelBtnDashboard.profilPanel{
	background:url(img/stock-photo-17200729-team-forming-skill-word.jpg) center no-repeat;
	background-size:200px;
}

.labelBtnDashboard.eaePanel{
	background:url(img/stock-photo-14344775-positive-or-negative.jpg) center no-repeat;
	background-size:200px;
}

.labelBtnDashboard.formationPanel{
	background:url(img/stock-photo-18656792-back-to-school.jpg) center no-repeat;
	background-size:200px;
}

.table {
	text-align: center;
}

.containerButton {
	text-align: center;
}
.footerLayoutMissionButton{
	margin-top:  15px;
}


.popinStyle .popupContent .v-window-contents{
	border-top:solid 1px #009cda;
}

.panelLeft .v-verticallayout{
	padding:0;
}

.panelLeft .v-panel-content{
	border:none;
}

.panelLeft .v-button-caption{
	color: #009cda;
	font-size: 15px;
	text-decoration:none;
	line-height:25px;
	border:none;
}

.panelLeft .v-button-caption:hover,
.panelLeft .focus .v-button-caption{
	text-decoration:underline;
	font-weight:bold;
}

.panelLeft .focus .v-button-caption{
	text-transform:uppercase;
}

.panelRight .v-panel-content{
	border-right:none;
}

.panelRight .v-panel-content .v-formlayout{
	text-align:center;
}

.panelRight .v-caption-spacerInfo {
	left:10px !important;
}

.panelRight .spacerInfo{
	margin-left:10px;
}

.panelRight .v-caption-spacerTop {
	top:10px !important;
}

.panelRight .spacerTop{
	margin-top:10px;
}

.v-table .v-selected, 
.black .v-table .v-selected {
	background: #009cda;
	color: #fff;
	text-shadow: #3b5a7a 0 1px 0;
}

.addMission{
	margin-left:20px;
}

.listMissionPanel .v-panel-content{
	border:none;
}

.v-panel-content-searchResultsPanel{
	border:none;
}

.v-panel-content-searchResultsPanel .v-verticallayout{
	padding-left:0;
}

.visualizeMissionHistory{
	margin-left:10px;
}

.v-panel-content-searchResultsPanel .v-table-cell-content {
	vertical-align: middle !important;
}